@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,900;1,100;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background-color: rgb(214, 212, 212);
  background-repeat: no-repeat;
}

/* Navbar */

.navbar {
    position: fixed;
    width: 100%;
    padding: 0 100px;
    background: rgba(0,0,0,.0);
  }
  
  .navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar img {
    height: 80px;
  }

  .navbar .logo2 {
    display: none;
  }
  
  .navbar .menu li {
    list-style: none;
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    color: #3a7ca5;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .navbar .menu li a:hover {
    border-bottom: solid 3px #746e6e;

  }

/* Home */

#home {
    height: 100vh;
    background-image: url("/image/Linda\ Maqoma\ Home.png");
    background-size: auto;
}

/* About */

#about {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    padding-top: 40px;
}

#about .aboutpic {
  height: 80%;
  width: 50%;
}

#about .aboutpic img {
  height: 400px;
  width: 350px;
  margin-left: 110px;
  margin-top: 20px;
}

#about .aboutpic h2 {
  margin-left: 190px;
}

#about .ceomessage {
  height: 80%;
  width: 50%;
}

#about .ceomessage article {
  margin-right: 100px;
}

#about .ceomessage article p {
  font-size: 15px;
}

/* Services */

#services {
    height: 100vh;
    background-color: black;
    padding: 40px 110px 30px 110px;
}

#sevices .container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}

.service-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 50px;
  text-shadow: 2px 2px 3px rgb(116, 113, 113);
}

#services .serv, .serv1, .serv2, .serv3 {
  height: 380px;
  width: 250px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#services img {
  height: 80px;
}

#services .serv p {
  font-size: 12px;
  padding: 10px 10px 10px 10px;
}

#services .serv1 p {
  font-size: 12px;
  padding: 10px 10px 70px 10px;
}

#services .serv2 p {
  font-size: 12px;
  padding: 10px 10px 65px 10px;
}

#services .serv3 p {
  font-size: 12px;
  padding: 10px 10px 180px 10px;
}

/* Contact */

#contact {
    height: 90vh;
}

.contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  padding-top: 80px;
  text-shadow: 2px 2px 3px white;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}



.contact-info {
  width: 50%;
  line-height: 45px;
  font-size: 16px;
  color: black;
}

.contact-info p {
  padding-left: 110px;
}

.contact-icons {
  padding-right: 45px;
  font-size: 30px;
  color: black;
}

.social-link {
  color: black;
  text-decoration: none;
}


.contact-form {
  width: 50%;
  padding-left: 80px;
}

.btn-contact {
  width: 150px;
  height: 35px;
  background: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

.btn-contact:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: white;
}

.input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 450px;
  height: 45px;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 20px;
}



/* footer */

.footer {
  background-color: black;
}
.footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 15px;
  height: 30px;
  margin-top: 0px;
}

/* Responsive */

@media (max-width: 1200px) {
  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 80px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 1000px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    #about .aboutpic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 500px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 450px;
      width: 350px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 0px;
    }

    #about .ceomessage {
      height: 100%;
      width: 500px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 20px;
    }

    #about .ceomessage article p {
      font-size: 15px;
    }

  /* Services */

  #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 100px;
    }

    #services .serv p {
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 13px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 13px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 13px;
    padding: 10px 20px 100px 20px;
    }

  /* Contact */

  #contact {
    height: 100%;
    padding: 50px 60px 50px 60px;
  }

  .contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 2px 2px 3px white;
  }

  .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  }


  .contact-form {
    width: 500px;
    padding: 50px 0px 0px 0px;
  }

  .btn-contact {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  }

  .btn-contact:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: white;
  }

  .input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 500px;
  height: 35px;
  padding: 12px;
  font-size: 13px;
  margin-bottom: 20px;
  }

  .contact-info {
    width: 500px;
    line-height: 35px;
    font-size: 15px;
    color: black;
    }

  .contact-info p {
  padding-left: 0px;
  }

  .contact-icons {
  padding-right: 30px;
  font-size: 30px;
  color: black;
  }

  .social-link {
  color: black;
  text-decoration: none;
  }


  /* footer */

  .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    height: 30px;
    margin-top: 0px;
    }
}

@media (max-width: 1199px) {
    /* Navbar */
  
    .navbar {
      position: fixed;
      width: 100%;
      padding: 0 20px 0px 20px;
      background: rgba(0,0,0,.9);
    }
  
    .navbar .max-width {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .navbar img {
      height: 80px;
    }
  
    .navbar .menu li {
      list-style: none;
      display: none;
      margin-right: 10px;
    }
    
    .navbar .menu li a {
      font-size: 14px;
    }
  
    .navbar .logo1 {
      display: none;
    }
  
    .navbar .logo2 {
      display: flex;
    }
  
    /* Home */
  
    #home {
      height: 1000px;
      background-image: url("/image/lindahomemobile.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    /* About */
  
    #about {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 50px 60px 50px 60px;
      }
  
      #about .aboutpic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 500px;
        padding: 0px 0px 40px 0px;
      }
  
      #about .aboutpic img {
        height: 450px;
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
      }
  
      #about .aboutpic h2 {
        margin-left: 0px;
      }
  
      #about .ceomessage {
        height: 100%;
        width: 500px;
      }
  
      #about .ceomessage article {
        margin-right: 0px;
      }
  
      #about .ceomessage h2 {
        font-size: 20px;
      }
  
      #about .ceomessage article p {
        font-size: 15px;
      }
  
    /* Services */
  
    #services {
      height: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 60px 50px 60px;
      }
  
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      #services .serv, .serv1, .serv2, .serv3 {
      height: 340px;
      width: 500px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0px 15px 0px;
      }
  
      #services img {
      height: 100px;
      }
  
      #services .serv p {
      font-size: 13px;
      padding: 10px 20px 0px 20px;
      }
  
      #services .serv1 p {
      font-size: 13px;
      padding: 10px 20px 30px 20px;
      }
  
      #services .serv2 p {
      font-size: 13px;
      padding: 10px 20px 40px 20px;
      }
      
      #services .serv3 p {
      font-size: 13px;
      padding: 10px 20px 100px 20px;
      }
  
    /* Contact */
  
    #contact {
      height: 100%;
      padding: 50px 60px 50px 60px;
    }
  
    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    text-shadow: 2px 2px 3px white;
    }
  
    .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
    }
  
  
    .contact-form {
      width: 500px;
      padding: 50px 0px 0px 0px;
    }
  
    .btn-contact {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }
  
    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }
  
    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 500px;
    height: 35px;
    padding: 12px;
    font-size: 13px;
    margin-bottom: 20px;
    }
  
    .contact-info {
      width: 500px;
      line-height: 35px;
      font-size: 15px;
      color: black;
      }
  
    .contact-info p {
    padding-left: 0px;
    }
  
    .contact-icons {
    padding-right: 30px;
    font-size: 30px;
    color: black;
    }
  
    .social-link {
    color: black;
    text-decoration: none;
    }
  
  
    /* footer */
  
    .footer p {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 13px;
      height: 30px;
      margin-top: 0px;
      }
  }
  }

@media (max-width: 1070px) {
    /* Navbar */
  
    .navbar {
      position: fixed;
      width: 100%;
      padding: 0 20px 0px 20px;
      background: rgba(0,0,0,.9);
    }
  
    .navbar .max-width {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .navbar img {
      height: 80px;
    }
  
    .navbar .menu li {
      list-style: none;
      display: none;
      margin-right: 10px;
    }
    
    .navbar .menu li a {
      font-size: 14px;
    }
  
    .navbar .logo1 {
      display: none;
    }
  
    .navbar .logo2 {
      display: flex;
    }
  
    /* Home */
  
    #home {
      height: 1000px;
      background-image: url("/image/lindahomemobile.jpeg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    /* About */
  
    #about {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 50px 60px 50px 60px;
      }
  
      #about .aboutpic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 500px;
        padding: 0px 0px 40px 0px;
      }
  
      #about .aboutpic img {
        height: 450px;
        width: 350px;
        margin-left: 0px;
        margin-top: 20px;
      }
  
      #about .aboutpic h2 {
        margin-left: 0px;
      }
  
      #about .ceomessage {
        height: 100%;
        width: 500px;
      }
  
      #about .ceomessage article {
        margin-right: 0px;
      }
  
      #about .ceomessage h2 {
        font-size: 20px;
      }
  
      #about .ceomessage article p {
        font-size: 15px;
      }
  
    /* Services */
  
    #services {
      height: 100%;
      background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 60px 50px 60px;
      }
  
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      #services .serv, .serv1, .serv2, .serv3 {
      height: 340px;
      width: 500px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 15px 0px 15px 0px;
      }
  
      #services img {
      height: 100px;
      }
  
      #services .serv p {
      font-size: 13px;
      padding: 10px 20px 0px 20px;
      }
  
      #services .serv1 p {
      font-size: 13px;
      padding: 10px 20px 30px 20px;
      }
  
      #services .serv2 p {
      font-size: 13px;
      padding: 10px 20px 40px 20px;
      }
      
      #services .serv3 p {
      font-size: 13px;
      padding: 10px 20px 100px 20px;
      }
  
    /* Contact */
  
    #contact {
      height: 100%;
      padding: 50px 60px 50px 60px;
    }
  
    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 30px;
    padding-top: 30px;
    text-shadow: 2px 2px 3px white;
    }
  
    .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px 0px 0px;
    }
  
  
    .contact-form {
      width: 500px;
      padding: 50px 0px 0px 0px;
    }
  
    .btn-contact {
    width: 100px;
    height: 30px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }
  
    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }
  
    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 500px;
    height: 35px;
    padding: 12px;
    font-size: 13px;
    margin-bottom: 20px;
    }
  
    .contact-info {
      width: 500px;
      line-height: 35px;
      font-size: 15px;
      color: black;
      }
  
    .contact-info p {
    padding-left: 0px;
    }
  
    .contact-icons {
    padding-right: 30px;
    font-size: 30px;
    color: black;
    }
  
    .social-link {
    color: black;
    text-decoration: none;
    }
  
  
    /* footer */
  
    .footer p {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font-size: 13px;
      height: 30px;
      margin-top: 0px;
      }
}

@media (max-width: 970px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 80px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 1000px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    #about .aboutpic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 500px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 450px;
      width: 350px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 0px;
    }

    #about .ceomessage {
      height: 100%;
      width: 500px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 20px;
    }

    #about .ceomessage article p {
      font-size: 15px;
    }

  /* Services */

  #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 100px;
    }

    #services .serv p {
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 13px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 13px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 13px;
    padding: 10px 20px 100px 20px;
    }

  /* Contact */

  #contact {
    height: 100%;
    padding: 50px 60px 50px 60px;
  }

  .contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 2px 2px 3px white;
  }

  .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  }


  .contact-form {
    width: 500px;
    padding: 50px 0px 0px 0px;
  }

  .btn-contact {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  }

  .btn-contact:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: white;
  }

  .input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 500px;
  height: 35px;
  padding: 12px;
  font-size: 13px;
  margin-bottom: 20px;
  }

  .contact-info {
    width: 500px;
    line-height: 35px;
    font-size: 15px;
    color: black;
    }

  .contact-info p {
  padding-left: 0px;
  }

  .contact-icons {
  padding-right: 30px;
  font-size: 30px;
  color: black;
  }

  .social-link {
  color: black;
  text-decoration: none;
  }


  /* footer */

  .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    height: 30px;
    margin-top: 0px;
    }
}

@media (max-width: 870px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 80px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 1000px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    #about .aboutpic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 500px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 450px;
      width: 350px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 0px;
    }

    #about .ceomessage {
      height: 100%;
      width: 500px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 20px;
    }

    #about .ceomessage article p {
      font-size: 15px;
    }

  /* Services */

  #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 100px;
    }

    #services .serv p {
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 13px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 13px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 13px;
    padding: 10px 20px 100px 20px;
    }

  /* Contact */

  #contact {
    height: 100%;
    padding: 50px 60px 50px 60px;
  }

  .contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 2px 2px 3px white;
  }

  .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  }


  .contact-form {
    width: 500px;
    padding: 50px 0px 0px 0px;
  }

  .btn-contact {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  }

  .btn-contact:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: white;
  }

  .input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 500px;
  height: 35px;
  padding: 12px;
  font-size: 13px;
  margin-bottom: 20px;
  }

  .contact-info {
    width: 500px;
    line-height: 35px;
    font-size: 15px;
    color: black;
    }

  .contact-info p {
  padding-left: 0px;
  }

  .contact-icons {
  padding-right: 30px;
  font-size: 30px;
  color: black;
  }

  .social-link {
  color: black;
  text-decoration: none;
  }


  /* footer */

  .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    height: 30px;
    margin-top: 0px;
    }
}


@media (max-width: 770px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 80px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 1000px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    #about .aboutpic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 500px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 450px;
      width: 350px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 0px;
    }

    #about .ceomessage {
      height: 100%;
      width: 500px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 20px;
    }

    #about .ceomessage article p {
      font-size: 15px;
    }

  /* Services */

  #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 60px 50px 60px;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 100px;
    }

    #services .serv p {
    font-size: 13px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 13px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 13px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 13px;
    padding: 10px 20px 100px 20px;
    }

  /* Contact */

  #contact {
    height: 100%;
    padding: 50px 60px 50px 60px;
  }

  .contact-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 2px 2px 3px white;
  }

  .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 0px 0px;
  }


  .contact-form {
    width: 500px;
    padding: 50px 0px 0px 0px;
  }

  .btn-contact {
  width: 100px;
  height: 30px;
  background: transparent;
  border: 2px solid black;
  color: black;
  cursor: pointer;
  transition: 0.3s;
  }

  .btn-contact:hover {
  border-radius: 0px;
  border: 2px solid black;
  background-color: black;
  color: white;
  }

  .input {
  background: transparent;
  color: black;
  border: none;
  border-bottom: 2px solid black;
  width: 500px;
  height: 35px;
  padding: 12px;
  font-size: 13px;
  margin-bottom: 20px;
  }

  .contact-info {
    width: 500px;
    line-height: 35px;
    font-size: 15px;
    color: black;
    }

  .contact-info p {
  padding-left: 0px;
  }

  .contact-icons {
  padding-right: 30px;
  font-size: 30px;
  color: black;
  }

  .social-link {
  color: black;
  text-decoration: none;
  }


  /* footer */

  .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 13px;
    height: 30px;
    margin-top: 0px;
    }
}

@media (max-width: 620px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 70px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 535px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    }

    #about .aboutpic {
      height: 100%;
      width: 300px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 400px;
      width: 300px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 60px;
    }

    #about .ceomessage {
      height: 100%;
      width: 300px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 16px;
    }

    #about .ceomessage article p {
      font-size: 12px;
    }

    /* Services */

    #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 80px;
    }

    #services .serv p {
    font-size: 12px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 12px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 12px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 12px;
    padding: 10px 20px 100px 20px;
    }

    /* Contact */

    #contact {
      height: 100%;
    }

    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    padding-top: 50px;
    text-shadow: 2px 2px 3px white;
    }

    .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    }

    .contact-form {
    width: 300px;
    padding: 30px 0px 0px 0px;
    }

    .btn-contact {
    width: 100px;
    height: 35px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }

    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }

    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    height: 30px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;
    }

    .contact-info {
    width: 300px;
    line-height: 30px;
    font-size: 13px;
    color: black;
    }

    .contact-info p {
    padding-left: 0px;
    }

    .contact-icons {
    padding-right: 25px;
    font-size: 20px;
    color: black;
    }

    /* footer */

    .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    height: 30px;
    margin-top: 0px;
    }

}

@media (max-width: 520px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 70px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 535px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    }

    #about .aboutpic {
      height: 100%;
      width: 300px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 400px;
      width: 300px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 60px;
    }

    #about .ceomessage {
      height: 100%;
      width: 300px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 16px;
    }

    #about .ceomessage article p {
      font-size: 12px;
    }

    /* Services */

    #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 80px;
    }

    #services .serv p {
    font-size: 12px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 12px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 12px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 12px;
    padding: 10px 20px 100px 20px;
    }

    /* Contact */

    #contact {
      height: 100%;
    }

    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    padding-top: 50px;
    text-shadow: 2px 2px 3px white;
    }

    .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    }

    .contact-form {
    width: 300px;
    padding: 30px 0px 0px 0px;
    }

    .btn-contact {
    width: 100px;
    height: 35px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }

    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }

    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    height: 30px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;
    }

    .contact-info {
    width: 300px;
    line-height: 30px;
    font-size: 13px;
    color: black;
    }

    .contact-info p {
    padding-left: 0px;
    }

    .contact-icons {
    padding-right: 25px;
    font-size: 20px;
    color: black;
    }

    /* footer */

    .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    height: 30px;
    margin-top: 0px;
    }

}

@media (max-width: 420px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 70px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 528px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    }

    #about .aboutpic {
      height: 100%;
      width: 300px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 400px;
      width: 300px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 60px;
    }

    #about .ceomessage {
      height: 100%;
      width: 300px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 16px;
    }

    #about .ceomessage article p {
      font-size: 12px;
    }

    /* Services */

    #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 310px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 80px;
    }

    #services .serv p {
    font-size: 12px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 12px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 12px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 12px;
    padding: 10px 20px 100px 20px;
    }

    /* Contact */

    #contact {
      height: 100%;
    }

    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 25px;
    padding-top: 50px;
    text-shadow: 2px 2px 3px white;
    }

    .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    }

    .contact-form {
    width: 300px;
    padding: 30px 0px 0px 0px;
    }

    .btn-contact {
    width: 100px;
    height: 35px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }

    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }

    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 300px;
    height: 30px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;
    }

    .contact-info {
    width: 300px;
    line-height: 30px;
    font-size: 13px;
    color: black;
    }

    .contact-info p {
    padding-left: 0px;
    }

    .contact-icons {
    padding-right: 25px;
    font-size: 20px;
    color: black;
    }

    /* footer */

    .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 11px;
    height: 30px;
    margin-top: 0px;
    }

}



@media (max-width: 320px) {

  /* Navbar */

  .navbar {
    position: fixed;
    width: 100%;
    padding: 0 20px 0px 20px;
    background: rgba(0,0,0,.9);
  }

  .navbar .max-width {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar img {
    height: 70px;
  }

  .navbar .menu li {
    list-style: none;
    display: none;
    margin-right: 10px;
  }
  
  .navbar .menu li a {
    font-size: 14px;
  }

  .navbar .logo1 {
    display: none;
  }

  .navbar .logo2 {
    display: flex;
  }

  /* Home */

  #home {
    height: 550px;
    background-image: url("/image/lindahomemobile.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* About */

  #about {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
    }

    #about .aboutpic {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 300px;
      padding: 0px 0px 40px 0px;
    }

    #about .aboutpic img {
      height: 370px;
      width: 270px;
      margin-left: 0px;
      margin-top: 20px;
    }

    #about .aboutpic h2 {
      margin-left: 0px;
      font-size: 20px;
    }

    #about .ceomessage {
      height: 100%;
      width: 270px;
    }

    #about .ceomessage article {
      margin-right: 0px;
    }

    #about .ceomessage h2 {
      font-size: 14px;
    }

    #about .ceomessage article p {
      font-size: 12px;
    }

    /* Services */

    #services {
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 30px 0px;
    }

    #services .serv, .serv1, .serv2, .serv3 {
    height: 340px;
    width: 270px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 15px 0px;
    }

    #services img {
    height: 80px;
    }

    #services .serv p {
    font-size: 12px;
    padding: 10px 20px 0px 20px;
    }

    #services .serv1 p {
    font-size: 12px;
    padding: 10px 20px 30px 20px;
    }

    #services .serv2 p {
    font-size: 12px;
    padding: 10px 20px 40px 20px;
    }
    
    #services .serv3 p {
    font-size: 12px;
    padding: 10px 20px 100px 20px;
    }

    /* Contact */

    #contact {
      height: 100%;
    }

    .contact-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 22px;
    padding-top: 50px;
    text-shadow: 2px 2px 3px white;
    }

    .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 20px 0px;
    }

    .contact-form {
    width: 270px;
    padding: 30px 0px 0px 0px;
    }

    .btn-contact {
    width: 100px;
    height: 35px;
    background: transparent;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    }

    .btn-contact:hover {
    border-radius: 0px;
    border: 2px solid black;
    background-color: black;
    color: white;
    }

    .input {
    background: transparent;
    color: black;
    border: none;
    border-bottom: 2px solid black;
    width: 270px;
    height: 30px;
    padding: 12px;
    font-size: 12px;
    margin-bottom: 20px;
    }

    .contact-info {
    width: 270px;
    line-height: 30px;
    font-size: 13px;
    color: black;
    }

    .contact-info p {
    padding-left: 0px;
    }

    .contact-icons {
    padding-right: 25px;
    font-size: 20px;
    color: black;
    }

    /* footer */

    .footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;
    height: 30px;
    margin-top: 0px;
    }

}



